.CategoryPage {
  text-align: center;
}

.CategoryPage-header {
  background-color: #ffc003;
  color: #00bf99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

.CategoryPage-filter {
  color: #333;
  margin: 50px 0 25px;
}

.CategoryPage-filter input {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px 10px;
  height: 20px;
  width: 120px;
}

.CategoryPage-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.CategoryPage-tags span {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.CategoryPage-tags span:hover {
  transform: scale(1.1);
  transition: transform 0.2s linear;
}

.CategoryPage-clear {
  cursor: pointer;
  margin-left: 10px;
}

.CategoryPage-stores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 500px) {
  .CategoryPage-stores {
    width: 90%;
  }
}

